name: daily-email

#on:
#  schedule:
#    - cron: '00 09 * * *'
on:
  # Trigger the workflow on push request,
  # but only for the main branch
  push:
    branches:
      - main

jobs:
  build:
    environment: daily-run
    runs-on: ubuntu-latest

    steps:
    - name: checkout repo content
      uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: execute py script
      run: |
        pip install -r requirements.txt
        python main.py
      env:
        MY_EMAIL: ${{ secrets.MY_EMAIL }}
        PASSWORD: ${{ secrets.PASSWORD }}
        TARGET_EMAIL: ${{ secrets.TARGET_EMAIL }}
        TEST_STRING:

