name: daily-email

on:
  schedule:
    - cron: '30 11 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Daily Run
    env:
      MY_EMAIL: ${{ secrets.MY_EMAIL }}
      PASSWORD: ${{ secrets.PASSWORD }}
      TARGET_EMAIL: ${{ secrets.TARGET_EMAIL }}
    steps:
    - uses: actions/checkout@v2
      name: checkout repo content
    - uses: actions/setup-python@v2
      name: setup python
      with:
        python-version: '3.7.7'
    - run: |
        pip install -r requirements.txt
        python main.py
